@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.redBorder{
    border: red 2px solid;
}
td{
    font-weight: 200;
    text-transform:capitalize;
}
.edit-btn{
    background-color: green !important;
}
.rem-btn{
    background-color:#dc3545 !important ; 
 }
 td[contenteditable="true"] {
    border: none;   
    outline: none;       
    text-align: left;    
    padding-left: 10px;
    background-color: transparent; 
  }
